.button {
    width: 100px;
    height: 20px;
    background-color: #0066cc;
}

.disabled {
    background-color: #DDEEFF;
}

.secondary {
    border: #DDEEFF solid 1px;
    background: transparent;
}

.default {
    background-color: #0066cc;
}

.red {
    background-color: red ;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
